footer.content-info {
  font-size: $font-size-sm * 0.925;
  color: $gray-500;
  background: linear-gradient(to bottom, $gray-900 0%, $black 100%);

  hr {
    border-color: rgba($gray-500, 0.5);
  }

  .widget {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }

  a {
    color: $gray-500;

    &:hover {
      color: lighten($gray-500, 10%);
    }
  }

  h3 {
    color: $white;
    font-size: $h6-font-size;
    padding-top: $spacer;
    margin-bottom: $spacer;
  }

  p {
    margin-bottom: $spacer * 0.5;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      margin-bottom: $spacer * 0.5;
    }
  }
}

#colophon {
  font-size: $font-size-sm;
  color: darken($gray-500, 7.5%);

  a {
    color: darken($gray-500, 7.5%);

    &:hover {
      color: darken($gray-500, 10%);
    }
  }
}
