footer.content-info {
  font-size: $font-size-sm * 0.925;
  color: $gray-600;
  background: linear-gradient(to bottom, #f6f5f4 0%, #eeebe9 100%);

  .widget {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }

  a {
    color: $gray-600;

    &:hover {
      color: lighten($gray-600, 10%);
    }
  }

  h3 {
    font-size: $h6-font-size;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    padding-top: $spacer;
    margin-bottom: $spacer;
  }

  p {
    margin-bottom: $spacer * 0.5;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      margin-bottom: $spacer * 0.5;
    }
  }
}

#colophon {
  font-size: $font-size-sm;
  color: lighten($gray-600, 7.5%);

  a {
    color: $gray-600;

    &:hover {
      color: lighten($gray-600, 10%);
    }
  }
}
