// 404
#fourohfour {
  min-height: 500px;
  height: calc(100vh - 330px);
  background-image: url("../images/404.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h2 {
    color: rgba($gray-700, 0.5);
    font-size: $h1-font-size * 6;
  }

  h6 {
    color: $gray-700;
  }
}
