.blog {
  .page-header {
    margin-bottom: $spacer * 4;

    h1 {
      text-align: center;
      text-transform: uppercase;
    }
  }
}

// Posts
article.post {
  a.post-link {
    display: block;
    text-decoration: none;

    @include transition(all 0.125s ease-in);
  }

  .entry-image {
    opacity: 1;
  }

  header {
    position: relative;
    padding-top: $spacer * 0.5;

    time.updated {
      font-size: $font-size-sm * 0.925;
      color: lighten($gray-600, 25%);
    }

    .entry-title {
      .post-grid & {
        font-size: $h3-font-size;
      }
    }
  }

  .entry-item {
    position: relative;
    display: block;
    padding: ($spacer * 0.5) ($spacer * 2) ($spacer * 2);
    margin: -($spacer * 2) ($spacer * 2) 0;
    font-size: $font-size-sm;
    background: $white;

    @include transition(all 0.05s ease-in-out);
  }

  &.post-grid {
    position: relative;
    z-index: 1;
    background-color: $white;

    @include box-shadow(0 2rem 2rem rgba($black, 0.05));

    &:hover {
      border-color: lighten($body-color, 30%);
    }
  }

  &.post-single {
    .entry-image {
      margin-top: $spacer * 4;
    }

    header {
      position: relative;
      padding-top: $spacer * 4;
    }
  }

  .btn {
    position: absolute;
    opacity: 0;
    bottom: $spacer * 2;
    left: $spacer * 4;
  }

  &:hover {
    .entry-item {
      margin-top: -($spacer * 5);
      margin-bottom: $spacer * 3;
    }

    .btn {
      opacity: 1;
    }
  }
}

ul.post-categories {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    display: inline-block;

    a {
      background-color: $gray-100;
      font-family: $headings-font-family;
      font-size: $font-size-sm * 0.925;
      padding: $spacer * 0.25;

      &:hover {
        background-color: darken($gray-100, 2.5%);
      }
    }
  }
}
