.max-width {
  max-width: 1600px;

  &.centered {
    margin: 0 auto;
  }
}

// SECTION
.section {
  position: relative;
  padding-top: $spacer * 3;
  padding-bottom: $spacer * 3;

  .section-title {
    margin-bottom: $spacer * 2;
  }
}

// GALLERY
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: $spacer auto;
  max-width: 1600px;

  figure.gallery-item {
    position: relative;
    width: 100%;
    text-align: center;
    max-width: 50%;
    flex: 0 0 50%;
    float: left;
    padding: 2px;
    margin: 0;

    @media (min-width: 420px) {
      max-width: 33.3329%;
      flex: 0 0 33.3329%;
    }

    @include media-breakpoint-up(sm) {
      max-width: 25%;
      flex: 0 0 25%;
    }

    @include media-breakpoint-up(md) {
      max-width: 20%;
      flex: 0 0 20%;
    }

    @include media-breakpoint-up(lg) {
      max-width: 16.6659%;
      flex: 0 0 16.6659%;
    }

    @include media-breakpoint-up(xl) {
      max-width: 12.5%;
      flex: 0 0 12.5%;
    }

    @media (min-width: 1600px) {
      max-width: 11.1109%;
      flex: 0 0 11.1109%;
    }

    .gallery-icon {
      a {
        img {
          width: 100%;
          //min-width: 150px;
          max-width: 150px;
          height: auto;
          opacity: 1;
        }
      }
    }

    &:hover {
      z-index: 1;

      .gallery-icon {
        a {
          img {
            z-index: 1;
            opacity: 0.75;
          }
        }
      }
    }
  }

  .gallery-caption {
    font-size: $font-size-sm * 0.925;
  }

  // &.gallery-columns-8 {
  //   figure.gallery-item {
  //     @media (min-width: 1600px) {
  //       max-width: 12.5%;
  //       flex: 0 0 12.5%;
  //     }
  //   }
  // }

  // &.gallery-columns-7 {
  //   figure.gallery-item {
  //     @include media-breakpoint-up(xl) {
  //       max-width: 20%;
  //       flex: 0 0 20%;
  //     }

  //     @media (min-width: 1600px) {
  //       max-width: 14.28569%;
  //       flex: 0 0 14.28569%;
  //     }
  //   }
  // }

  // &.gallery-columns-6 {
  //   figure.gallery-item {
  //     @include media-breakpoint-up(xl) {
  //       max-width: 20%;
  //       flex: 0 0 20%;
  //     }

  //     @media (min-width: 1600px) {
  //       max-width: 16.6659%;
  //       flex: 0 0 16.6659%;
  //     }
  //   }
  // }

  // &.gallery-columns-5 {
  //   figure.gallery-item {
  //     @include media-breakpoint-up(xl) {
  //       max-width: 25%;
  //       flex: 0 0 25%;
  //     }

  //     @media (min-width: 1600px) {
  //       max-width: 20%;
  //       flex: 0 0 20%;
  //     }
  //   }
  // }

  // &.gallery-columns-4 {
  //   figure.gallery-item {
  //     @media (min-width: 1600px) {
  //       max-width: 25%;
  //       flex: 0 0 25%;
  //     }
  //   }
  // }

  // &.gallery-columns-3 {
  //   figure.gallery-item {
  //     @include media-breakpoint-up(xl) {
  //       max-width: 33.3329%;
  //       flex: 0 0 33.3329%;
  //     }

  //     @media (min-width: 1600px) {
  //       max-width: 33.3329%;
  //       flex: 0 0 33.3329%;
  //     }
  //   }
  // }

  // &.gallery-columns-2 {
  //   figure.gallery-item {
  //     @include media-breakpoint-up(xl) {
  //       max-width: 50%;
  //       flex: 0 0 50%;
  //     }
  //   }
  // }

  // &.gallery-columns-1 {
  //   @include media-breakpoint-up(xl) {
  //     max-width: 100%;
  //     flex: 0 0 100%;
  //   }
  // }
}

.figure-caption,
.wp-caption-text {
  line-height: 1.25em;
  padding: ($spacer * 0.25) ($spacer * 0.5);
}

// VIDEO
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container embed,
.video-container iframe,
.video-container object,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// FONTAWESOME
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
